# URL of the Ollama API (default: http://localhost:11434)
OLLAMA_URL=http://localhost:11434
OLLAMA_API_KEY=
OMDB_API_KEY=
VITE_TURNSTILE_SITE_KEY=
TURNSTILE_SECRET_KEY=

JWT_SECRET_KEY=
SESSION_JWT_TTL_SECONDS=
ELEVENLABS_API_KEY=
ELEVENLABS_VOICE_ID=